include header
.container-fluid.main
  include newpostpartial

  include footer
  script(type='text/javascript', src='/js/jquery.form.js')
  script(type='text/javascript', src='/js/jquery.history.js')
  script(type='text/javascript', src='/js/history.js')